<ul class="list-unstyled">

    @foreach (var product in products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/product/@product.Id">
                    <img class="media-img" src="@product.Image" alt="@product.Title"/>
                    </a>
            </div>
            <div class="media-body">
                <a href="/product/@product.Id">
                <h4 class="mb-0">@product.Title</h4>    
                </a>

                <p>@product.Description</p>
                @if(product.OrginalPrice > product.Price)
                {
                    <h6 class="text-muted original-price">$@product.OrginalPrice</h6>
                }
                <h5 class="price">
                    $@product.Price
                </h5>
            </div>


        </li/>
    }

</ul>

@code {
    List<Product> products = new List<Product> {
        new Product{
            Id = 1, 
            CategoryId = 1,
            Title = "Superman",
            Description = "Superman has power",
            Image = "https://th.bing.com/th/id/R.2e9d1a1fe34bd659a00482d80f757066?rik=hkqf1Gjvt7tBFg&riu=http%3a%2f%2fwww.nerdreport.com%2fwp-content%2fuploads%2f2020%2f05%2fb5eaa3aad6d866a8282a9d67bb5ecfc2.jpg&ehk=VW5ucndaNsH6xY1ying1birDRuxH45MZ39QRDp1KuyE%3d&risl=&pid=ImgRaw&r=0",
            Price = 9.99m,
            OrginalPrice = 19.99m,
        },
         new Product{
            Id = 2,
            CategoryId = 3,
            Title = "Spiderman",
            Description = "Spiderman is a humen spider",
            Image = "https://nl.letsgodigital.org/uploads/2019/08/nieuwe-spiderman-film-770x508.jpg",
            Price = 8.99m,
            OrginalPrice = 29.99m,
        },

    };
}
